# pytorch-lightning==2.0.2

huggingface_hub
diffusers >= 0.9.0
accelerate
transformers

plyfile
open3d 
numpy==1.23.1 
opencv-python 
imageio==2.25.0
imageio-ffmpeg 
scikit-image==0.19.0
kornia 
black 
chumpy 
rtree 
tensorboardX 
tensorboard

transforms3d 
munch
#opencv-contrib-python==3.4.11.45
ipython 
jupyter 
pycocotools

rich==13.5.3
moviepy 
pyrender==0.1.45 
shapely==1.8.4 
trimesh==3.12.6 
triangle
pydot

omegaconf

numba
hydra-core
openpyxl

cython

gdown
h5py
tqdm
torchmetrics